  {% extends  'base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href={% static 'style/aboutUsContentBoxStyle.css' %}>
{% endblock %}
      {% block title %} E-Journal | About Us {% endblock %}

      	{% block content %}
            <!-- START - CONTENT -->
            <div class="aboutUsContentBox">
                <p class="aboutUsContentBoxTitle">About Us</p>
                <div class="aboutUsContentBoxBody">
                  Nitte University E-Journal Portal 
                </div>
            </div>
            <!-- END - CONTENT -->
	{% endblock %}
