{% extends  'base.html' %}
{% load static %}



        <!-- START - LEFT SIDE NAVIGATION BAR -->
        <div class="leftNavigation">
            <!-- START - LOGO -->
            <div class="leftNavigationLogo" title="E-Journal">
                <img src="{% static 'images/nitteUniversity.png' %}">
            </div>
            <!-- END - LOGO -->

            <!-- START - SEARCH BOX -->
            <form method="get" action="{% url 'baseportal:search' %}">
              <div class="searchBox">
                  <div class='searchInput'>
                      <input type='search' name="q" placeholder='What you looking for?'>
                  </div>
                  <div class='searchButton'><img src="{% static 'images/searchIconWhite.png' %}" class="searchIcon"></div>
              </div>
            </form>
            <!-- END - SEARCH BOX -->

            <!-- START - MENU OPTIONS -->
            <ul class="leftNavigationMenuOptions">
                <a href="{% url 'baseportal:homepage' %}"><li class="leftOptionOne" style="border-right: solid 8px white;background: #fd033a;"><span class="leftNavEmojis"><img src="{% static 'images/nitteUniversityIcon.png' %}"></span><span>HOME</span></li></a>

                <a href="{% url 'accounts:register' %}"><li class="leftOptionTwo"><span class="leftNavEmojis"><img src="{% static 'images/note.png' %}"></span><span>REGISTER</span></li></a>

                <a href="{% url 'baseportal:track' %}"><li class="leftOptionThree"><span class="leftNavEmojis"><img src="{% static 'images/route.png' %}"></span><span>TRACK</span></li></a>
=======
    <body>
		{% block user %}<a href="{% url 'accounts:register' %}"><li class="leftOptionTwo"><span class="leftNavEmojis"><img src="{% static 'images/note.png' %}"></span><span>REGISTER</span></li></a>

               
                <a href="{% url 'accounts:login' %}"><li class="leftOptionThree"><span class="leftNavEmojis"><img src="{% static 'images/login.png' %}"></span><span>LOGIN</span></li></a>
{% endblock %}
  
	{% block content %}

   <!-- START - SLIDESHOW -->
            <div class="slideshow">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                      <img src="{% static 'images/slidePic1.jpeg' %}" style="width:100%">
                      <div class="text">No more books, Let's EBook</div>
                    </div>

                    <div class="mySlides fade">
                      <img src="{% static 'images/slidePic2.jpeg' %}" style="width:100%">
                      <div class="text">Gain knowledge</div>
                    </div>

                    <div class="mySlides fade">
                      <img src="{% static 'images/slidePic3.jpeg' %}" style="width:100%">
                      <div class="text">Switch to EBooks</div>
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>

                </div>
                <br>
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                  <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
            <!-- END - SLIDESHOW -->

            <!-- START - HORIZONTAL SLIDERS -->
            <div class="sliderHeading sliderHeadingOne">RECENT JOURNALS</div>
            <!-- START - SLIDER ONE -->
            <ul class="sliderOne slider dragscroll" style="cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                {% for el in journals %}
                <li class="card">
                    <a href="{% url 'baseportal:showjournal' journalslug=el.slug %}">
                        <div><img src="{{el.preview_image.url}}" alt="book Image" class="verticalSlidersImg"></div>
                        <div>{{el.name}}</div>
                        <div>{{el.published_date}}</div>
                    </a>
                </li>
                {% endfor %}

            </ul>
            <!-- END - SLIDER ONE -->

            <!-- START - SLIDER TWO -->
            <div class="sliderHeading sliderHeadingTwo">RECENT REVIEWS</div>
            <ul class="sliderTwo slider sliderFull dragscroll" style="cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
            </ul>
            <!-- END - SLIDER TWO -->

            <!-- START - SLIDER THREE -->
            <div class="sliderHeading sliderHeadingThree">RECENT TECHNICAL</div>
            <ul class="sliderThree slider  sliderFull dragscroll" style="cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
            </ul>
            <!-- END - SLIDER THREE -->
            <div class="sliderHeading sliderHeadingFour">RECENT JOURNALS</div>
            <ul class="sliderFour slider sliderFull dragscroll" style="cursor: grab; cursor : -o-grab; cursor : -moz-grab; cursor : -webkit-grab;">
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
                <li class="card">
                    <div><img src="{% static 'images/ff.png' %}" alt="book Image" class="verticalSlidersImg"></div>
                    <div>Name</div>
                    <div>Author</div>
                </li>
            </ul>
            <!-- START - SLIDER FOUR -->

            <!-- END - SLIDER FOUR -->

        <!-- END - HORIZONTAL  SLIDERS -->

            <!-- START - COUNTER -->
            <ul class="mcounter">
                <h1 class="mcounterHeader" title="Counter">TOTAL</h1>
                <li>Authors: {{authors.count}}</li>
                <li>E-Journals: {{journals.count}}</li>
            </ul>
            <!-- END - COUNTER -->
	{% endblock %}
