{% extends  'base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'style/trackContentBoxStyle.css' %}">
  {% endblock %}
{% block content %}
            <!-- START - CONTENT -->
            <div class="trackContentBox">
                <p class="trackContentBoxTitle">Track your Paper Work</p>
                <div class="trackContentBoxBody">
                    <!-- START - SEARCH BOX -->
                    <form method="get">
                      <div class="trackSearchBox" style="background: #ffffff">
                          <div class='trackSearchInput'>
                              <input type='search' placeholder='What you tracking for?' name='id'>
                          </div>
                          <button class='trackSearchButton'  style="background: #0080ff; border: none;" type="submit"><img src="{% static 'images/searchIconWhite.png' %}" class="searchIcon"></button>
                      </div>
                    </form>
                    <!-- END - SEARCH BOX -->


<!-- The Timeline -->

<center>
{% if showerror == True %}
   <p> <img alt="No results" width="20%" height="20%" src="{% static 'images/brokenRobot.png' %}"> </p><p>'<u>{{ track_id }}</u>' ID is invalid! Please try again </p>
 {% elif showtrack == True %}
  <p>Your Tracking ID is <b><u>'{{ track_id }}'</u></b></p>
  <p>Paper Name : <b><u>{{ paper.title }}</u></b></p>
</center>
<br><hr>
<ul class="timeline">

 <!-- Item 1 -->

   {% if trackstatus >= 0 %}
 <li>
   <div class="direction-r">
     <div class="flag-wrapper">
       <span class="flag"> Submitted for Review </span>
     </div>
   </div>
 </li>
 {% endif %}
 {% if trackstatus >= 1 %}
 <!-- Item 2 -->
 <li>
   <div class="direction-l">
     <div class="flag-wrapper">
       <span class="flag">Reviewer Assigned</span>
     </div>
   </div>
 </li>
 {% endif %}
 {% if paper.review_complete %}
 <!-- Item 3 -->
 <li>
   <div class="direction-r">
     <div class="flag-wrapper">
       <span class="flag">Review Complete</span>
     </div>
     <div class="desc"> {{ paper.review_status }}</div>
   </div>
 </li>
  {% endif %}
    {% endif %}
</ul>

                </div>
            </div>
            {% endblock %}
