{% extends 'base.html' %}
{% block content %}
<table border="1">
	<thead>
	    <tr>
            <th>Paper Title</th>
            <th>Review Status</th>
        </tr>
	</thead>
    <tbody>
	{% for el in papers %}
		<td>
			<a href="{% url 'paperreviewer:showpaper' paperslug=el.slug %}">
				{{el}}
			</a>
		</td>
        <td>{{el.review_status}}</td>
	{% endfor %}
    </tbody>
</table>
<p></p>
<p>Review Requests</p>
<p></p>
<table border="1">
	<thead>
		<tr>
			<th>Paper Title</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for el in reviewrequests %}
		<tr>
			<td>
				{% if el.status is None %}
				<a href="{% url 'paperreviewer:reviewrequest' paperslug=el.paper.slug %}">
					{{el}}
				</a>
				{% else %}
					{{el}}
				{% endif %}
			</td>
			<td>
				{{el.get_status_display}}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<ol>

</ol>
{% endblock %}
