{% extends 'base.html' %}
{% load static %}
{%block style %}
<style>table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}
{% block content %}
<div class="inside">
<table cellspacing="20">
	<thead><h2 class="welcomeName"><u>Paper under Review</u></h2>
	    <tr>
            <th>Paper Title</th>
            <th>Review Status</th>
        </tr>
	</thead>
    <tbody>
	{% for el in papers %}
    <tr>
      <td> {{el.title}}</td>

        <td>{{el.review_status}}</td>
        <td class="button">
    			<a class="fix" href="{% url 'paperreviewer:showpaper' paperslug=el.slug %}">
    				Review
    			</a>
    		</td>
    </tr>
	{% endfor %}
    </tbody>
</table>


<p></p>
<table cellspacing="20">
	<thead><h2 class="welcomeName"><u>Review Requests</u></h2>
		<tr>
			<th>Paper Title</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for el in reviewrequests %}
		<tr>
			<td class="button">
				{% if el.status is None %}
				<a class="fix" href="{% url 'paperreviewer:reviewrequest' paperid=el.id %}">
					{{el}}
				</a>
				{% else %}
					{{el}}
				{% endif %}
			</td>
			<td>
				{{el.get_status_display}}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}
