{% extends "base.html" %}
{% load static %}


{% block content %}
  <div class="inside">

<p><h1>{{paper}}</h1></p>
<p>
	<a href="{% url 'paperreviewer:downloadpaper' paperslug=paper.slug %}">
		Download PDF
	</a>
	{% if paper.is_resubmission %}
		<a href="{% url 'paperreviewer:downloadsuggestedcorrections' paperslug=paper.slug %}">
		  Suggested Correction
		</a>
		<a href="{% url 'paperreviewer:downloadperformedcorrections' paperslug=paper.slug %}">
		  Performed Correction
		</a>
	{% endif %}

</p>
<p></p>
<p>
	{% if paper.is_reviewed %}
		Paper already revieved as {{paper.review_status}}
	{% else %}
	<a href="{% url 'paperreviewer:annotate' %}?file={% url 'paperreviewer:downloadpaper' paperslug=paper.slug %}">Annotate</a>
	<a href="{% url 'paperreviewer:reviewpaper' paperslug=paper.slug %}">
		Review
	</a>
	{% endif %}
</p>
    </div>
{% endblock %}
