{% extends  'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block styles %}
  <link rel="stylesheet" href={% static 'style/registerContentBoxStyle.css' %}>
{% endblock %}
	{% block content %}
          <!-- START - REGISTER FORM-->
					  <div class="inside">
            <div class="registerContentBox">
                <form method="post">

                    {% csrf_token %}
                    <div style="color:red;">{{form.non_field_errors}}</div>
                    <table cellspacing="10">
												<thead>
													<p class="registerContentBoxTitle">To Register Fill in Details</p>
												</thead>
                        <tr>
                            <div class="registerData"><td><label class="registerContentBoxLabel" for="#">First Name: </label></td><td>{% render_field form.first_name class="textboxOne" %}{{ form.first_name.errors }}</td></div>
                        </tr>


                        <tr>
                            <div class="registerData">
                                <td>
                                    <label class="registerContentBoxLabel" for="#">Last Name: </label>
                                </td>
                                <td>
                                    {% render_field form.last_name class="textboxOne" %}{{ form.last_name.errors }}
                                </td>
                            </div>
                        </tr>

                        <tr>
                            <div class="registerData">
                                <td>
                                    <label class="registerContentBoxLabel" for="#">Username: </label>
                                </td>
                                <td>
                                    {% render_field form.username class="textboxOne" %}{{ form.username.errors }}
                                </td>
                            </div>
                        </tr>

                        <tr>
                            <div class="registerData">
                                <td>
                                    <label class="registerContentBoxLabel" for="#">Email: </label>
                                </td>
                                <td>
                                    {% render_field form.email class="textboxOne" %}{{ form.email.errors }}
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="registerData">
                                <td>
                                    <label class="registerContentBoxLabel" for="#">Password: </label>
                                </td>
                                <td>
                                    {% render_field form.password1 class="textboxOne" %}{{ form.password1.errors }}
                                </td>
                            </div>
                        </tr>

                        <tr>
                            <div class="registerData">
                                <td>
                                    <label class="registerContentBoxLabel" for="#">Confirm Password: </label>
                                </td>
                                <td>
                                    {% render_field form.password2 class="textboxOne" %}{{ form.password2.errors }}
                                </td>
                            </div>
                        </tr>
                        <tr>
                            <div class="registerData">
                                <td>
                                    <label class="registerContentBoxLabel" for="#">Type : </label>
                                </td>
                                <td>
                                    {% render_field form.user_type class="comboBoxOne" %}{{ form.user_type.errors }}
                                </td>
                            </div>
                        </tr>

                        <tr>
                            <div class="registerData">
                                <td>
                                    <input type="submit" class="button" value="Submit">
                                </td>
                                <td>
                                    <input type="reset" class="button">
                                </td>
                            </div>
                        </tr>
                    </table>
                </form>
            </div>
					</div>
            <!-- END - REGISTER FORM-->

                    {% endblock %}
