{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<!-- START - SUBMIT FORM-->
<div class="inside">
<form method="post" enctype='multipart/form-data'>
						<p class="submitContentBoxTitle">Fill in Details</p>
						{% csrf_token %}
						<table cellspacing="10">
							<tr>
								<div class="submitData">
									<td>
										<label class="submitContentBoxLabel" for="#">Title: </label>
									</td>
									<td>
										{% render_field form.title class="textboxOne" %}{{ form.title.errors }}
									</td>
								</div>
							</tr>
							<tr>
								<div class="submitData">
									<td>
										<label class="submitContentBoxLabel" for="#">Abstract: </label>
									</td>
									<td>
										{% render_field form.abstract class="textboxOne" rows="5" %}{{ form.description.errors }}
									</td>
								</div>
							</tr>
							<tr>
								<div class="submitData">
									<td>
										<label class="submitContentBoxLabel" for="#">Category : </label>
									</td>
									<td>
										{% render_field form.category class="comboBoxOne submitCategory" %}{{ form.category.errors }}
									</td>
								</div>
							</tr>
							<tr>
								<div class="submitData">
									<td>
										<label class="submitContentBoxLabel" for="#">Upload File: </label>
									</td>
									<td>
										{% render_field form.upload class="textboxOne" type="file" accept="application/pdf" %}{{ form.upload.errors }}
									</td>
								</div>
							</tr>
							<tr>
								<div class="submitData">
									<td>
										<label class="submitContentBoxLabel" for="#">Keywords: </label>
									</td>
									<td>
										{% render_field form.keywords rows="5" class="textboxOne" %}{{ form.keywords.errors }}
									</td>
								</div>
							</tr>
							<tr>
								<div class="submitData">
									<td>
										<input type="submit" class="button">
									</td>
									<td>
										<input type="reset" class="button">
									</td>
									<td>{{form.non_field_errors}}</td>
								</div>
							</tr>
						</table>
				</div>
			</form>
				<!-- END - SUBMIT FORM-->
{% endblock %}
