{% extends 'base.html' %}


{% block content %}
hello
{{paper}}
{{paper.author}}
{% if paper.reviewer is None %}
  <p>Reviewer Not Assigned. Contact Admin.</p>
{% elif paper.is_reviewed is False %}
  <p>Paper not yet reviewed</p>
{% else %}
  <p>Status: {{paper.review_status}}</p>
  <a href="{% url 'paperauthor:annotate' %}?file={% url 'paperauthor:downloadpaper' paperslug=paper.slug %}">View Annotations</a>
{% endif %}
<p>Track id : {{paper.track_id}}</p>
<a href="{% url 'paperauthor:downloadpaper' paperslug=paper.slug %}">
{{paper.upload}}</a>
{% endblock %}
